#bookingDetails{
	width:650px;
	margin:20px 0 30px 50px;
	padding:20px 20px 20px 60px;
	text-align:left;
	background-image: linear-gradient(white,#FFF5EE,#a09077);
}
body{
	background-image: linear-gradient(#a09077,#FFF5EE,white);
}

h2{
	color:green;
}

span{
	padding-left:20px;
	margin-left:60px;
}