body{
	margin:0px;
	width:100%;
	font-family: Helvetica, Sans-serif;
}

#logo {
	width:110px;
	margin-left:30px;	
	padding-top:15px;
}


.menu{
	margin:0;
	
	width:100%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-image: linear-gradient(to right,#a09077,#a09077,white, #a09077 );
}

.menu ul{
	display:inline-flex;
	margin-top:10px;
	margin-left:60px;
}

.menu ul li{
	list-style:none;
	margin-top:0;
	display:inline-block;
	cursor:pointer;

	
}

.menu ul li a{
	text-decoration:none;
	color:black;
	padding:20px;
	font-size:16px;
	font-family:arial;
	font-weight:bold;
	border:1px solid transparent;
	float:left;
}

#signup-btn{
	top:20px;
	right:90px;
	position:absolute;
	border: 2px solid transparent;
	background-origin:border-box;
	font-size:32px;
	color:Yellow;
}


.coverimage{
	width:100%;
	height:700px;
	margin:0;
}

div.gallery {
	float: left;
	margin: 5px;
	border: 1px solid #ccc;
	width: 365px;
	height: 380px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 260px;
}

div.desc {
    width:335px;
    height:88px;
    background-color: #cdc99e;
    padding: 15px;
    text-align: center;

}

.para{
	width:1200px;
	text-align:center;
	font-size:15px;
	padding:20px;
	font-family:Arial,Verdana,Helvetica;
	background-color:#e5f5b4;
}

#head{
	font-family:Arial;
	color:black;
	font-size:50px;
}

footer{
	float:left;
	width:100%;
	margin:100px 0 0 0;
	background-color:#a09077;
	padding-top:20px;
	text-align:left;
	background-image: linear-gradient(to right,#a09077,#a09077, white, #a09077 );
}

h3 img{
	width:20px;
	margin-left:30px;
}

#btn{
	background-color:yellow;
}
 




















